/*

  Filename:style.css
  Author: :placeholder-shown

  Index:
    1.Reset - Deprecated, once Materialize already resets the formating.
    2.Imports
    3.General
    4.Header
    5.Main
    6.Footer

*/

/* Reset */

/*

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

*/

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* General */

body {
  font-family: Poppins, sans-serif;
  color: #60495f;
}

h1 {
  font-size: 3rem;
  line-height: 120%;
  margin-top: 0rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: left;
  color: #ff00af;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: left;
  color: #60495f;
  margin-bottom: 32px;
}

::selection {
  background-color: #ffee58;
  color: #ff00af
}

/* Header */

header {
  color: #ffffff;
  background: rgb(172,62,207);
  background: -moz-linear-gradient(120deg, rgba(172,62,207,1) 0%, rgba(255,0,175,1) 100%);
  background: -webkit-linear-gradient(120deg, rgba(172,62,207,1) 0%, rgba(255,0,175,1) 100%);
  background: linear-gradient(120deg, rgba(172,62,207,1) 0%, rgba(255,0,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac3ecf",endColorstr="#ff00af",GradientType=1);
}

header nav {
  position: fixed;
  background: rgb(172,62,207);
  background: -moz-linear-gradient(120deg, rgba(172,62,207,1) 0%, rgba(255,0,175,1) 100%);
  background: -webkit-linear-gradient(120deg, rgba(172,62,207,1) 0%, rgba(255,0,175,1) 100%);
  background: linear-gradient(120deg, rgba(172,62,207,1) 0%, rgba(255,0,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ac3ecf",endColorstr="#ff00af",GradientType=1);
}

header .brand-logo {
  font-size: 1.5rem;
  font-weight: 500;
}

header #hero-bg {
  background-image: url(../assets/img/mapa.svg);
  background-repeat: no-repeat;
  background-position: -85% -6rem;
  background-attachment: fixed;
}

header #hero {
  height: 45rem;
  justify-content: left;
}

header #hero .col {
  padding: 0;
}

header #hero #hero-title {
  margin-bottom: -0.5rem;
  margin-top: -4rem;
  max-width: 40rem;
}

header #hero #hero-subtitle {
  margin-bottom: 1rem;
  max-width: 30rem;
}

header #hero a#hero-cta {
  color: #ff00af;
  font-weight: 600;
  overflow: none;
}

header #hero a#hero-cta:hover {
  color: #B633BF;
  background:yellow
}

section#call-to-scroll {
  color: #ff00af;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

section#call-to-scroll i{
  font-size: 3rem;
  margin-top: -0.5rem
}

/* Content */

main {
}

main #cities {
}

main #cities #cities-title {
 
}

main #cities .card-image {
  max-width: 375px;
  max-height: 300px;
}

main #cities .card-action a {
  color: #ff00af;
  font-weight: 600;
}

main #cities .card-action a:hover {
  color: #B633BF;
}

main #menu {
  background-color: #fff6ff;
  padding: 2rem 0;
}

main #menu #menu-title {
}

main #menu #menu-subtitle {
  margin: -1rem 0 2rem;
}

main #menu #menu-content {
  background-color: #ffffff;
}

main #menu #menu-content .content-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  padding: 1rem 1rem 0;
}

main #menu #menu-content .content-list {
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  text-align: left;
  padding: 0 1rem;
  margin-left: 1.5rem;
}

main #menu #menu-content .content-list .content-item {
  padding: 0.1rem;
}

main #stats {
  padding: 4rem 0;
  background-image: url(../assets/img/stats.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 6rem;
  background-size: 100% auto;
}

main #stats #title {
}

main #stats #subtitle {
}

main #stats .metric-value {
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
  color: #fe03b0;
  text-shadow: 0 0 1.5rem #ffffff;
  padding-top: 2rem;
}

main #stats .metric-description {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #60495f;
  padding-bottom: 2rem;
}

/* Footer */

footer {
  background: #B633BF !important;
}

